.hero {
  height: 100vh;
  overflow-x: clip !important;
  position: relative;
}
.container.h-100 {
  height: 100%;
}
.container {
  @media only screen and (max-width: 576px) {
    padding: 0px 20px;
  }
}
:host {
  overflow-x: hidden;
  font-family: "Poppins";
}
.circle {
  height:48vw;
  width:48vw;
  min-width: 300px;
  min-height: 300px;
  border-radius: 50%;
  background-color: #fff5ed;
  // opacity: 0.05;
  position: absolute;
  top: -5vw;
  right: -5vw;
}
.title {
  font-size: 67px;
  color: #f38e3e;
}
.hero-body{
  height: 70vh;
  align-items: center;
	// flex-direction: column;
	// justify-content: center;
}
@media only screen and(max-width:993px) {
  .title {
    font-size: 32px;
  }
}
.hero-image {
  width: 35vw;
  min-width: 290px;
  max-width: 600px;
  filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.06));
}
ul {
  margin: 0px;
  li {
    display: inline;
    &:not(:last-child) {
      margin: 0px 15px;
    }
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;

    button {
      background-color: #000;
      border-radius: 10px;
      color: white;
      border: 0px;
      padding: 5px 10px;
    }
    @media only screen and(max-width:993px) {
      &:not(:last-child) {
        display: none;
      }
    }
  }
}
img {
  width: 50px;
}
