.hero {
  height: 100vh;
  overflow-x: hidden;
}
.container.h-100 {
  height: 100%;
}
:host {
  background-color: #fffaf6;
  overflow-x: hidden;
  font-family: "Poppins";
}
.circle {
  overflow: hidden !important;
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: #f38e3e;
  opacity: 0.05;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}
.title {
  font-size: 67px;
  color: #f38e3e;
}
@media only screen and(max-width:993px) {
  .hero-image {
    width: 25%;
  }
  .title {
    font-size: 42px;
  }
}
.hero-image {
  width: 100%;
}
ul {
  margin: 0px;
  li {
    display: inline;
    &:not(:last-child) {
      margin: 0px 15px;
    }
    cursor: pointer;
    font-size: 1rem;
    font-weight: 300;

    button {
      background-color: #000;
      border-radius: 10px;
      color: white;
      border: 0px;
      padding: 5px 10px;
    }
    @media only screen and(max-width:993px) {
      &:not(:last-child) {
        display: none;
      }
    }
  }
}
img {
  width: 50px;
}
